div#container {
	background: #fff;
	margin:0 auto;
	width: 750px;
	min-height:100%;
}
div#header {
	height: 50px;
	background: #fff url('/images/rl_logo.png') no-repeat 1em;	
	padding: 1em;
}
	div#header .nav {
		float: right;
		margin-top:40px;
	}
.nav {
	list-style: none; 
}
.nav li {
	float: left; 
	margin-left: 1em;
}
div#main {
	padding:1em 1em 150px 1em;
}
div#footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear:both;
}
	div#foot {
		background: #444;
		color: #fff;
		width: 730px;
		height: 130px;
		margin: 0px auto;
		padding: 10px;
	}
	div#foot a, a:visited {
		color:#fff;
	}
#artist-photo {
	float: left;
	margin: 0 20px 20px 0;
}
.clear {
	clear:both;
}



